@{
    Layout = "~/Views/Shared/_LayoutEcomm.cshtml";
}
@{
    ViewData["Title"] = "Compra registrada correctamente";
}
<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-6">
        <p class="text-justify">Su compra ha quedado registrada de manera correcta.</p>
        <p class="text-justify">En los reportes de compras y en consulta de saldo podrá ver la aplicación de su saldo en los próximos 1 a 30 minutos.</p>
    </div>
</div>