@{
    ViewData["Title"] = "Nosotros";
}
<h2>@ViewData["Title"]</h2>


<h3>En central recargas buscamos que tu persona o tu negocio genere ganancias y pueda atraer mayor número de clientes al vender recargas electrónicas y el cobro de pago de servicios.</h3>
<p class=" text-justify">Somos una empresa basada en el amor a la tecnología y a brindar un apoyo a nuestros clientes a través de estas tecnologías.</p>
