@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>

<h4>Gracias por tu interés en central recarga, te invitamos a comunicarte a través de cualquiera de los medios disponibles o bien, a que llenes el formulario y un agente se comunicará en el menor tiempo posible contigo.</h4>
@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>*@
<address>
    <strong>Whatsapp: </strong>8187040448<br />
    <strong>Telegram: </strong>centralrecargas<br />
    <strong>Facebook Messenger: </strong>centralrecargas<br />
    <strong>Twitter: </strong>centralrecargas<br />

</address>
<address>
    <strong>Ventas:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Soporte:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
