@{
    ViewData["Title"] = "Pago de servicios";
}
<div class="row">
    <div class="col-md-8">
        <h2>Pago de Servicios</h2>
        <p class="text-justify">Cobra los principales servicios y vende pines y códigos electrónicos de diversos servicios en tu negocio desde cualquier plataforma.</p>
        <div class=" row">
            <div class="col-md-3">
                <img src="~/images/Portal/telmex-nice.png" class="img-thumbnail" />
            </div>
            <div class="col-md-3">
                <img src="~/images/Portal/cfe_nice.png" class="img-thumbnail" />
            </div>
            <div class="col-md-3">
                <img src="~/images/Portal/dish-nice.png" class="img-thumbnail" />
            </div>
            <div class="col-md-3">
                <img src="~/images/Portal/izzi-nice.png" class="img-thumbnail" />
            </div>
        </div>
        <div class=" row">
            <div class="col-md-3">
                <img src="~/images/Portal/totalplay-nice.png" class="img-thumbnail" />
            </div>
            <div class="col-md-3">
                <img src="~/images/Portal/axtel.png" class="img-thumbnail" />
            </div>
            <div class="col-md-3">
                <img src="~/images/Portal/sky-nice.png" class="img-thumbnail" />
            </div>
            <div class="col-md-3">
                <img src="~/images/Portal/cablemas-nice.png" class="img-thumbnail" />
            </div>
        </div>
        <p class="text-justify">entre otras, para conocer más de nuestro servicio de pago de servicios y pines electrónicos, da clic <a asp-controller="Home" asp-action="Pagos">aquí</a> o bien, <a class="btn btn-info" asp-area="Identity" asp-page="/Account/Register">¡Comienza ya!</a></p>
    </div>
    <div class="col-md-4">
        <h2>Notificaciones</h2>
        <i class="fas fa-comments fa-5x"></i>
        <p class="text-justify">Somos una empresa verde, buscamos también que todas las notificaciones puedan ser enviadas a tus clientes de manera electrónica para que juntos apoyemos un poco al medio ambiente.</p>
        <h2>Reporte de compra</h2>
        <i class="fas fa-comments fa-5x"></i>
        <p class="text-justify">A través de todas las plataformas disponibles, puedes reportar tu compra. A su vez, también los recibimos en nuestros bots de Telegram, Messenger, SMS o por las aplicaciones. </p>
    </div>
</div>