@{
    ViewData["Title"] = "Aviso de Privacidad";
}
<h2>@ViewData["Title"]</h2>

<p>bpPharma SA de CV. (en lo sucesivo “Finerio”) con domicilio ubicado en Calle Muzquiz San Miguel Chapultepec CDMX, 
es responsable de recabar sus datos personales, del uso que se le dé a los mismos y de su protección.</p>

<h6>MEDIDAS DE SEGURIDAD.</h6>
<p>Sus datos personales están protegidos por medidas de seguridad administrativas, físicas y técnicas, para evitar su pérdida, alteración, destrucción, uso, acceso o divulgación indebidos.</p>

<h6>TRANSPARENCIA EN EL MANEJO DE TUS DATOS.</h6>
<p>Recuerda que somos una plataforma digital clasificada como una Fintech siendo el objetivo de Finerio ofrecerte de una manera confiable, segura y dinámica, las mejores recomendaciones relacionadas con servicios financieros, así como apoyarte con la obtención de finanzas personales saludables. Esto lo logramos mediante la utilización de tecnología Big Data y Analytics que nos permite analizar, con base en tus datos personales, los comportamientos y patrones de conducta financiera relacionados contigo. Asimismo, para cumplir con las finalidades primarias que se señalan más adelante, utilizamos tecnología denominada Screep Scraping dentro de nuestra plataforma y app móvil, para la correcta obtención de tu información financiera. Recuerda que toda la tecnología que utilizamos para dar tratamiento a tu información, cumple con los más altos estándares de seguridad informática.</p>

<h6>¿PARA QUÉ FINES RECABAMOS Y UTLIZAMOS SUS DATOS PERSONALES?</h6>
Sus datos personales podrán ser utilizados para llevar a cabo alguna o todas las finalidades siguientes:

Finalidades primarias: (a) Brindarte recomendaciones de ahorro que se ajusten a tus posibilidades financieras, (b) Acercarte a que conozcas distintos tipos de servicios financieros y que pueden resultar de tu interés acorde a tu comportamiento financiero, (c) Compartir contigo diversas opciones de inversión competitivas en el mercado para que puedas generar rendimientos con tu dinero, (d) Generarte un score crediticio, (e) Realizar estudios de comportamiento financiero, (f) Compartirte información relevante relacionado con finanzas personales, (g) Detectar oportunidades de ahorro en tus gastos. (h) Atender solicitudes de Derechos ARCO (Acceso, Rectificación, Cancelación y Oposición) de datos personales.
Finalidades secundarias: (a) Contactarte para realizar prospección comercial, (b) Brindarte la atención y seguimiento correspondiente a sus dudas, quejas y/o aclaraciones sobre nuestros productos y/o servicios.
Las finalidades primarias son las que dieron origen y son necesarias para la existencia, mantenimiento y cumplimiento de la relación jurídica entre Finerio y usted; no así las finalidades secundarias. Si usted no desea que Finerio trate sus datos personales para dichas finalidades secundarias, por favor envíe un correo electrónico a contacto@finerio.mx indicando su nombre completo. Usted podrá cambiar de opción en cualquier momento.

¿CÓMO OBTENEMOS SUS DATOS PERSONALES?
Para las finalidades señaladas en este aviso de privacidad, podemos recabar sus datos personales de distintas formas: cuando usted nos los proporciona personalmente; a través de nuestra página de internet en la sección de “Sign Up”; a través de nuestra aplicación móvil, cuando nos envía un correo electrónico; a través de nuestras redes sociales en internet, cuando obtenemos información a través de fuentes de acceso público, tales como directorios telefónicos, y/o a través de otras fuentes permitidas por la Ley.

DATOS PERSONALES QUE PODRÁN SER RECABADOS Y TRATADOS.
Los datos personales que podremos recabar son: Nombre completo; edad, género, estado civil, escolaridad, ocupación, correo electrónico, ingresos mensuales del hogar. Asimismo, se generará un usuario y contraseña. Le informamos que para cumplir con las finalidades previstas en este aviso de privacidad, serán recabados y tratados datos patrimoniales, como aquellos que refieren a estados de cuenta bancarios, números de tarjetas de crédito y/o débito, CLABE interbancaria, así como dato(s) personal(es) que la Ley y su Reglamento consideren patrimoniales y sea(n) recabado(s) para llevar a cabo las finalidades primarias señaladas en el presente aviso de privacidad.

TRANSFERENCIA DE DATOS PERSONALES.
Nos comprometemos a no transferir su información personal a terceros, distintos a los antes señalados, sin su previo consentimiento, salvo las excepciones previstas en el artículo 37 de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, así como a realizar esta transferencia en los términos que fija esa Ley.

USO DE COOKIES Y WEB BEACONS.
Le informamos que en nuestra página de internet, así como en nuestra aplicación móvil (app móvil) utilizamos cookies y web beacons través de las cuales es posible monitorear su comportamiento como usuario de Internet, para brindarle un mejor servicio y experiencia al navegar en nuestra página.

Los datos personales que podemos obtener de estas tecnologías son los siguientes: Navegador que utiliza, nombre del servidor, dirección IP, fecha horario y tiempo de navegación en internet y en nuestro sitio, y secciones consultadas.

Estas tecnologías podrán deshabilitarse a través de su navegador de internet configurando para ello en la sección de privacidad que no se permita la utilización de cookies del sitio que visita, éste procedimiento puede variar dependiendo del navegador de internet que utilice.

DERECHOS ARCO Y REVOCACIÓN DEL CONSENTIMIENTO.
En todo momento usted tiene derecho de acceder, rectificar y cancelar sus datos personales, así como de oponerse al tratamiento de los mismos o revocar el consentimiento que nos ha otorgado, a fin de que dejemos de hacer uso de ellos; para lo cual deberá solicitar nuestro formato de “Solicitud de Ejercicio de Derechos ARCO (Acceso, Rectificación, Cancelación y Oposición)” ante nuestro Departamento de Datos Personales enviando un correo a la dirección: contacto@finerio.mx con el asunto “Formato ARCO” y con gusto le enviaremos el formato correspondiente para que sea debidamente llenado, y nos sea enviado de vuelta por la misma vía.

Para dar trámite a su solicitud, usted deberá adjuntar copia de su documento de identificación vigente (credencial para votar, Pasaporte emitido por la Secretaría de Relaciones Exteriores, Cartilla del servicio Militar Nacional o Cédula Profesional) y exhibir el original para su cotejo, a fin de que pueda llevarse a cabo la autenticación de quien ejerce el Derecho ARCO. En los casos en que el ejercicio de los Derechos ARCO se realice a través de su representante legal, además de la acreditación de la identidad de ambos, se deberá entregar el poder notarial correspondiente, carta poder firmada ante dos testigos o declaración en comparecencia personal de usted. Cuando se quiera ejercer el derecho de rectificación, se tendrá que entregar la documentación que acredite el cambio solicitado de acuerdo a los datos personales a rectificar.

La respuesta a su solicitud se llevará a cabo dentro de los 20 días hábiles siguientes contados a partir de la fecha en que la misma haya sido recibida. Finerio podrá ampliar éste plazo hasta por 20 días hábiles más, cuando el caso lo amerite, previa notificación de esto a usted. La resolución adoptada por Finerio será comunicada a usted a través de la opción que elija de las que se encuentran establecidas en el formato de Solicitud de Ejercicio de Derechos ARCO.

En aquellos casos en los que se desee ejercer el derecho de Acceso a sus Datos Personales, la información solicitada será proporcionada a través del medio que usted haya decidido en el formato de “Solicitud de Ejercicio de Derechos ARCO” y en el supuesto en el que Finerio no cuente con sus Datos Personales, se lo informaremos por los medios a través de los cuáles realizó la solicitud.

Para cualquier duda o aclaración respecto del presente procedimiento favor de enviar un correo a nuestro Departamento de Datos Personales a la siguiente dirección: contacto@finerio.mx y con gusto lo atenderemos.

OPCIONES Y MEDIOS PARA LIMITAR EL USO DE SUS DATOS PERSONALES.
Para limitar el uso o divulgación de sus datos, para no recibir promociones de nuestros productos y/o servicios, puede solicitar a nuestro Departamento de Datos Personales a través del correo electrónico que se indica en el párrafo anterior, la inscripción gratuita en nuestros listados internos de exclusión, indicándonos su nombre completo, correo electrónico, número(s) telefónico(s) y acreditar su identidad en los mismos términos señalados para el ejercicio de sus Derechos ARCO.

MODIFICACIONES AL AVISO DE PRIVACIDAD.
Nos reservamos el derecho de efectuar en cualquier momento modificaciones o actualizaciones al presente aviso de privacidad, para la atención de novedades legislativas, políticas internas o nuevos requerimientos para la prestación u ofrecimiento de nuestros productos y servicios. En tal caso, Finerio publicará dichas modificaciones en su sitio de internet www.finerio.mx

De cualquier manera, le recomendamos que revise nuestro aviso de privacidad cada vez que haga uso de nuestra página de Internet, a efecto de conocer los cambios, modificaciones o actualizaciones que se realicen al mismo.

El presente Aviso de Privacidad se rige por la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, su Reglamento y demás ordenamientos legales y aplicables en los Estados Unidos Mexicanos.