@{
    ViewData["Title"] = "Recargas Electrónicas";
}
<div class="row">
    <div class="col-md-8">
        <h2>Recargas electrónicas</h2>
        <p class="text-justify">Vende recargas electrónicas de los principales proveedores de telefonía desde cualquier plataforma.</p>
        <div class=" row">
            <div class="col-md-3">
                <img src="~/images/Portal/logo_telcel.png" class="img-thumbnail" />
            </div>
            <div class="col-md-3">
                <img src="~/images/Portal/logo_movistar.png" class="img-thumbnail" />
            </div>
            <div class="col-md-3">
                <img src="~/images/Portal/logo_att.png" class="img-thumbnail" />
            </div>
            <div class="col-md-3">
                <img src="~/images/Portal/logo_virgin.png" class="img-thumbnail" />
            </div>
        </div>
        <div class=" row">
            <div class="col-md-3">
                <img src="~/images/Portal/logo_weex.png" class="img-thumbnail" />
            </div>
            <div class="col-md-3">
                <img src="~/images/Portal/logo_unefon.png" class="img-thumbnail" />
            </div>
            <div class="col-md-3">
                <img src="~/images/Portal/logo_iusacell.png" class="img-thumbnail" />
            </div>
            <div class="col-md-3">
                <img src="~/images/Portal/logo_nextel.png" class="img-thumbnail" />
            </div>
        </div>
        <p class="text-justify">entre otras, para conocer más de nuestro servicio de recargas, da clic <a asp-controller="Home" asp-action="Recargas">aquí</a> o bien, <a class="btn btn-info" asp-area="Identity" asp-page="/Account/Register">¡Comienza ya!</a></p>
    </div>
    <div class="col-md-4">
        <h2>Notificaciones</h2>
        <i class="fas fa-comments fa-5x"></i>
        <p class="text-justify">Somos una empresa verde, buscamos también que todas las notificaciones puedan ser enviadas a tus clientes de manera electrónica para que juntos apoyemos un poco al medio ambiente.</p>
        <h2>Reporte de compra</h2>
        <i class="fas fa-comments fa-5x"></i>
        <p class="text-justify">A través de todas las plataformas disponibles, puedes reportar tu compra. A su vez, también los recibimos en nuestros bots de Telegram, Messenger, SMS o por las aplicaciones. </p>
    </div>
</div>